<h3>Timezones</h3>

<table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
    <tr>
				<th class="span2">Timezone Name</th>
				<th class="span2">City</th>
				<th class="span2">Offset from GMT</th>
				<th class="span2">Current time</th>
<!-- 				<th class="span2">Action</th> -->
    </tr>
    </thead>
    <tbody>
	<tr ng-repeat="timezone in timezones">
		<td>{{ timezone.name }}</td>
		<td>{{ timezone.city }}</td>
		<td>{{ timezone.offset }}</td>
        <td>{{ currtimes[timezone.$id()] }}</td>
	</tr>
    </tbody>
</table>

<form ng-submit="filter()">
	<div class="well">
	    <label for="filtercriteria">Filter Criteria (regular expression)</label>
	    <input type="text" name="filtercriteria" ng-model="filterregexp">
        <span ng-show="regExpErr" class="help-inline">Invalid regular expression.</span>
        <br><button class="btn btn-primary" ng-click="filter()">Filter</button>
	</div>
</form>

